<div>
  <!-- Label + étoile -->
  <div class="flex items-start w-95">
    <label class="text-lg font-bold flex text-[var(--text-color)]">
      {{ label }}
      <span *ngIf="required" class="text-red-600 text-2xl px-2 leading-none">*</span>
    </label>
  </div>

  <!-- Input -->
  <input
    [value]="value"
    (input)="onInput($event)"
    (blur)="onTouched()"
    class="rounded-[12px] py-2 max-w-sm border border-black outline-none w-100"
    style="background-color: var(--background-color); color: var(--text-color);"
  />
  <label>
    message d'erruer
  </label>
</div>
