:root{
    --primary-color: #4CAF50;
    --secondary-color: #6B4226;
    --third-color: #FF8B00;
    --background-color: #F5EEDC;
    --text-color: #495C6B;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}