<div class="flex flex-col items-center justify-center h-[50%] gap-4">
    <app-button label="Lancer une partie" color="primary" size="large" (clicked)="createParty()" ></app-button>
    <app-button label="Liste des recettes" color="secondary" size="medium" link="/recettes"></app-button>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

    <h2 class="text-2xl font-bold text-center">Recettes</h2>

    <app-recette></app-recette>

</div>

<div class="mt-8">
  <h2 class="text-2xl font-bold mb-4 text-center">Mes parties en cours</h2>
  @if (parties.length > 0) {
    <div class="space-y-4">
      @for(partie of parties; track partie) {
        <div class="border p-4 rounded shadow" (click)="goToParty(partie._id)">
          <p><strong>Date :</strong> {{ partie.date | date:'fullDate' }}</p>
          <p><strong>Heure :</strong> {{ partie.heure }}</p>
          <p><strong>Info :</strong> {{ partie.info }}</p>
        </div>
      }
    </div>
  }
  @else {
    <p class="text-center">Aucune partie en cours.</p>
  }
</div>

<div class="mt-8">
  <h2 class="text-2xl font-bold mb-4 text-center">Historique de partie</h2>
  @if (parties.length > 0) {
    <div  class="space-y-4">
      <ng-container *ngFor="let partie of parties">
        <div *ngIf="partie.finished" class="border p-4 rounded shadow">
          <p><strong>Date :</strong> {{ partie.date | date:'fullDate' }}</p>
          <p><strong>Heure :</strong> {{ partie.heure }}</p>
          <p><strong>Info :</strong> {{ partie.info }}</p>
        </div>
      </ng-container>
    </div>
  }
  @else {
    <p class="text-center">Aucune partie dans l'historique.</p>
  }

  <app-popup
    [open]="popupService.isOpen()"
    [title]="popupService.getTitle()"
    [message]="popupService.getMessage()">>
  </app-popup>
</div>
